.scrollable-container {
  width: 200px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
  // overflow: auto; /* Enable scrollbars */
  background-color: beige;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 12px;
}

// .scrollable-content {
//   max-width: 100%;
// }
